---
layout: layout
---

<style>
    #about-header{
        margin-top: 85px;
    }
    #about-header img{
        width: 145px;
    }
    .offer-body,
    .person-body,
    .project-body,
    .skills-body,
    .work-body,
    .learn-body{
        padding-left: 25px;
    }
    p{
        margin:0;
        font-size: 15px;
        margin-bottom: 10px;
    }
    .body-section{
        padding-left: 15px;
    }
    #offer ul{
        margin-left: 20px;
        margin-bottom: 5px!important;
        border-left: 4px darkgray solid;
        padding-left: 15px;

    }
    li{
        list-style: none;
        font-size: 13px;
        margin-bottom: 10px;
    }
    .title{
        color: #777;
    }
    .title>span{margin-right: 5px}
    .detail-info-xueli{
        display: block;
        padding-left: 70px;
    }
    .work-experience p{
        line-height: 40px;
    }

</style>

<!-- Chinese Version -->
<div class="zh post-container">
<    <div class="content" id="about-header"> 
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                <div>
                    <img  src="/img/author.jpg"  style="border-radius: 6px;"/>
                </div>
                <div class="text-center">
                     <h2>李淑娜/女/27岁</h2>
                    <p>意向职位：Web前端开发工程师</p>
                </div>
            </div>
        </div>
        <!--正文-->
        <div class="row" id="offer">
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                <div class="work-experience">
                    <h3 class="title">
                        <i class="glyphicon glyphicon-heart"></i> 工作经历</h3>
                    <p>
                        2016年7月-至今: 借贷宝
                    </p>
                    <div class="body-section">
                        <ul>
                            <li>使用 Angular4／Vue/ionic, 参与公司产品开发</li>
                        </ul>
                    </div>
                    <p>
                        2015年4月-2016年6月: 慧聪网
                    </p>
                    <div class="body-section">
                        <ul>
                            <li>使用 jQuery/AngularJs, 参与公司产品开发</li>
                        </ul>
                    </div>
                </div>
                <div class="project-show">
                    <h3 class="title"><span class="glyphicon glyphicon-list-alt"></span> Project</h3>
                    <div class="project-body">
                        <ul>
                            <li>为一款 Node.js 博客系统开发的两款主题:<a href="https://github.com/Haojen/hexo-theme-Anisina" target="_blank"> Anisina</a> 与 <a href="https://github.com/Haojen/hexo-theme-Anisina" target="_blank">Claudia</a></li>
                            <li><a href="https://github.com/Haojen/alfred-Parrot" target="_blank"> 一款支持多语种的 Alfred Workflow 翻译插件</a></li>
                            <li> <a href="http://haojen.github.io/my-works/" target="_blank">更早期的项目<span class="glyphicon glyphicon-link"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="person-info">
                    <h3 class="title"><span class="glyphicon glyphicon-user"></span> 其他</h3>
                    <div class="person-body">
                        <p>学历: 本科</p>
                        <p>个人博客: <a target="_bl                                                                                                                                ank" href="http://lishuna.github.io/"> lishuna.github.io <span class="glyphicon glyphicon-link"></span> </a></p>
                        <p>GitHub: <a target="_blank" href="http://github.com/lishuna">http://github.com/lishuna <span class="glyphicon glyphicon-link"></span></a></p>
                        <p>爱好: 爱生活，也爱编码。喜欢逛各种社区</p>
                    </div>
                </div>
                <div>
                    <h3 class="title">
                        <i class="glyphicon glyphicon-pencil"></i> 正在深入学习的</h3>
                    <ul>
                        <li>Angular4源码</li>
                        <li>React Native</li>
                        <li>gulp</li>
                        <li>ES6/7 新特性</li>
                        <li>typescript</li>
                    </ul>
                </div>
                <div class="contact-show">
                    <h3 class="title "> <span class="glyphicon glyphicon-envelope"></span> 联系我</h3>
                        <p>
                            qq:&nbsp; &nbsp; &nbsp; 776806538
                        </p>
                        <p>
                            邮箱: &nbsp; &nbsp; &nbsp;  freefish0408@gmail.com
                        </p>
                </div>
            </div>
        </div></div>
</div>




